@font-face {
    font-family: "Lato", Monaco, sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Lato);
}

@font-face {
    font-family: "PT Sans", Monaco, sans-serif;
    src: url(https://fonts.googleapis.com/css?family=PT+Sans);
}

body {
    background-color: #FAFAFA !important;
    padding-top: 70px;
}

/********  NAVBAR **********/
.navbar {
    margin-bottom: 0;
    background-color: white !important;
    border: 0;
    font-size: 1em !important;
    font-family: "Lato", Monaco, sans-serif !important;
}

.navbar li a, .navbar .navbar-brand {
    color: gray !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #02B875 !important;
    background-color: white !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: white !important;
}

.navbar-brand {
    color: #373737 !important;
    padding-left: 30px !important;
    font-weight: bold;
}
/***************************************************/
 /*********************** LOGIN ***************************/
.panel-login {
	-webkit-box-shadow: 0 0 1px #B0B0B0;
	-moz-box-shadow: 0 0 1px #B0B0B0;
	box-shadow: 0 0 1px #B0B0B0;
    font-family: "Lato", Monaco, sans-serif !important;
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #02B875;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #02B875;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #02B875;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #02B875;
	border-color: #02B875;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #02B875;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #02B875;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #02B875;
	border-color: #02B875;
}
/***************************************************************************/
/*********************** MAIN CONTAINER ************************************/

.col-md-7 {
    font-family: "Lato", Monaco, sans-serif !important;
    display: -webkit-flex !important;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.col-md-5 {
    font-family: "Lato", Monaco, sans-serif !important;
    display: -webkit-flex !important;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

/***************************************************************************/
/****************************** CARD ***************************************/
.card {
    font-family: "Lato", Monaco, sans-serif !important;
    width: 700px;
    height: 300px;
    padding: 20px;
    margin: 5px;
    background-color: white;
    box-shadow: 0 0 1px #B0B0B0;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.card-block {
    height: 100%;
}

.card-user {
    color: #02B875;
    font-size: 1.15em;
}

.card-date {
    color: gray;
    font-size: 0.9em;
}

.card-title {
    color: #373737;
    font-family: "PT Sans", Monaco, sans-serif;
    font-size: 2.2em;
    font-weight: bold;
}

.card-text {
    color: #373737;
    font-family: "PT Sans", Monaco, sans-serif;
    font-size: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-btns {
    display: -webkit-flex !important;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
}

.btn-read-more {
    color: gray !important;
    text-decoration: none !important;

}

.btn-read-more:hover {
    color: #373737 !important;
    text-decoration: none !important;
}
/***************************************************************************/
/**************************** WRITE STORY **********************************/
.write-story {
    width: 800px;
    height: 800px;
    display: -webkit-flex !important;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 1;
}

.write-story-form {
    width: 100%;
    display: -webkit-flex !important;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.write-story-form input[type=text] {
    font-size: 2em;
    font-weight: bold;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 0;
    background-color: transparent;
    resize: none;
    display: -webkit-flex !important;
    display: flex;
}

.write-story-form textarea {
    font-size: 1.2em;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 0;
    background-color: transparent;
    resize: none;
    display: -webkit-flex !important;
    display: flex;
    flex-basis: 600px;
    flex-grow: 1;
    flex-shrink: 1;
}

.write-story-form-button {
    display: -webkit-flex !important;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}

.write-story-form-button input[type=submit] {
    height: 50px;
    background-color: #02B875;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 14px 14px;
    border: none;
    border-radius: 5px;
}

textarea:focus, input:focus{
    outline: none;
}
/***************************************************************************/
/********************************READ STORY ********************************/
.read-container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.read-container p {
    min-width: 100%;
}

.story-title {
    font-size: 2em;
    font-weight: bold;
}
.story-text {
    font-size: 1.3em;
    line-height: 32px;
}
/***************************************************************************/
/***************************************************************************/
