{% extends 'base.html' %}
{% block readStoryContainer %}
<div class="read-container-background">
    <div class="read-container">
        <div class="read-story-user">
            <p class="card-user">{{ story.author }}</p>
            <p class="card-date">{{ story.date }}</p>
        </div>
        <p class="read-story-title">{{ story.title }}
            {% if story.author == nickname %}
                <a href="/edit_story?id= {{ story.key.urlsafe() }}">
                    <img src="../static/img/edit.png" alt="Edit"/>
                </a>
            {% endif %}
        </p>
    </div>
    {% if story.image %}
        <div class="read-container-image">
            <img src='data:image/png;base64, {{ story.image.encode("base64") }}' class="image-responsive" alt="Story image">
        </div>
    {% endif %}
    <div class="read-container">
        <p class="read-story-text">{{ story.text }}</p>
    </div>
</div>

{% if user %}
    <div class="write-comment-container">
        <form action="/comment" method="post">
            <input type="text" name="story-key" value="{{ story.key.urlsafe() }}" hidden>
            <input type="text" name="comment-author" value="{{ user }}" hidden>
            <textarea name="comment-text" id="comment-text" placeholder="Write a response"></textarea>
            <input type="submit" value="Comment">
        </form>
    </div>
{% endif %}

{% for c in comments %}
    <div class="comment-container">
        <div class="comment-header">
            <a href="/profile?user={{ c.author }}">{{ c.author}}</a>
            <p class="comment-date">{{ c.date }}</p>
        </div>
        <p class="comment-text">{{ c.text }}</p>
    </div>
{% endfor %}

{% endblock %}
