{% extends 'base.html' %}
{% block readStoryContainer %}
<div class="read-container-background">
    <div class="read-container">
        <div class="read-story-user">
            {% if avatars[story.author] %}
                <a href="/profile?user={{ story.author }}">
                    <img src='data:image/png;base64, {{ avatars[story.author].encode("base64") }}' class="img-circle" alt="User avatar">
                </a>
            {% else %}
                <a href="/profile?user={{ story.author }}">
                    <img src='static/img/default-avatar.png' class="img-circle" alt="User avatar">
                </a>
            {% endif %}
            <div class="read-story-user-info">
                <p class="card-user"><a href="/profile?user={{ story.author }}">{{ story.author }}</a></p>
                <p class="card-date">{{ story.date }}</p>
            </div>
        </div>
        <p class="read-story-title">{{ story.title }}
            {% if story.author == nickname %}
                <a href="/edit_story?id={{ story.key.urlsafe() }}">
                    <img src="../static/img/edit.png" alt="Edit"/>
                </a>
            {% endif %}
        </p>
    </div>
    {% if story.image %}
        <div class="read-container-image">
            <img src='data:image/png;base64, {{ story.image.encode("base64") }}' class="img-responsive" alt="Story image">
        </div>
    {% endif %}
    <div class="read-container">
        <span class="read-story-text">{{ story.text|safe }}</span>
    </div>
</div>

{% if user %}
    <div class="write-comment-container">
        <form action="/comment" method="post">
            <input type="text" name="story-key" value="{{ story.key.urlsafe() }}" hidden>
            <input type="text" name="comment-author" value="{{ user }}" hidden>
            <textarea name="comment-text" id="comment-text" placeholder="Write a response"></textarea>
            <input type="submit" value="Comment">
        </form>
    </div>
{% endif %}

{% for c in comments %}
    <div class="comment-container">
        <div class="comment-header">
            {% if avatars[story.author] %}
                <a href="/profile?user={{ c.author }}">
                    <img src='data:image/png;base64, {{ avatars[c.author].encode("base64") }}' class="img-circle" alt="User avatar">
                </a>
            {% else %}
                <a href="/profile?user={{ c.author }}">
                    <img src='static/img/default-avatar.png' class="img-circle" alt="User avatar">
                </a>
            {% endif %}
            <div class="comment-user-info">
                <a href="/profile?user={{ c.author }}">{{ c.author}}</a>
                <p class="comment-date">{{ c.date }}</p>
            </div>
        </div>
        <p class="comment-text">{{ c.text }}</p>
    </div>
{% endfor %}

{% endblock %}
