<!-- Card template to show the stories into the users profiles -->
<div class="card-with-image">
    <div class="card-block">
        <div class="card-header">
            {% if avatars[s.author] %}
                <img src='data:image/png;base64, {{ avatars[s.author].encode("base64") }}' class="img-circle" alt="User avatar">
            {% else %}
                <img src='static/img/default-avatar.png' class="img-circle" alt="User avatar">
            {% endif %}
            <div class="card-header-text">
                <a class="card-user" href="/profile?user={{ s.author }}">{{ s.author }}</a>
                <p class="card-date">{{ s.date }}</p>
            </div>
        </div>
        {% if s.image %}
        <div class="card-image-container">
            <img src='data:image/png;base64, {{ s.image.encode("base64") }}' class="image-responsive" alt="">
        </div>
        {% endif %}
        <a class="card-title" href="/read_story?id={{ s.key.urlsafe() }}">{{ s.title }}</a>
        <p class="card-text">{{ s.text }}</p>
        <div class="card-btns">
            <a href="/read_story?id={{ s.key.urlsafe() }}" class="btn-read-more">Read more...</a>
        </div>
    </div>
</div>
