{% extends 'base.html' %}
{% block leftContainer %}
    {% for s in stories %}
    <!--Card-->
        <div class="card-with-image">
            <div class="card-block">
                <div class="card-header">
                    <a class="card-user" href="/profile?user={{ s.author }}">{{ s.author }}</a>
                    <p class="card-date">{{ s.date }}</p>
                </div>
                {% if s.image %}
                <div class="card-image-container">
                    <img src='data:image/png;base64, {{ s.image.encode("base64") }}' class="image-responsive" alt="">
                </div>
                {% endif %}
                <a class="card-title" href="/read_story?id={{ s.key.urlsafe() }}">{{ s.title }}</a>
                <!--Text-->
                <p class="card-text">{{ s.text }}</p>
                <div class="card-btns">
                    <a href="/read_story?id={{ s.key.urlsafe() }}" class="btn-read-more">Read more...</a>
                    <div class="card-btn-like">
                        <form action="/likestory?id={{ s.key.urlsafe() }}" method="post">
                            <input type="image" src="../static/img/heart_green.png" name="story-id" width="23" height="22"/>
                        </form>
                        {% if s.likes %}
                            <span class="card-like-counter">{{ s.likes|length }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
