{% extends 'base.html' %}
{% block readStoryContainer %}
<div class="user-view-profile">
    {% for u in user %}
        <div class="user-profile-data">
            <p class="user-name">{{ u.name }} {{ u.lastname }}</p>
            <p class="user-email">{{ u.user_email }}</p>
            {% if user.description %}
            <p class="user-email">{{ u.description }}</p>
            {% endif %}
            <div class="user-profile-followers">
                <p class="user-follow"><span>{{ u.following|length }}</span> following</p>
                <p class="user-follow"><span>{{ u.followers|length }}</span> followers</p>
            </div>
            {% if nickname != u.user_email %}
                {% if not following %}
                    <form action="/follow?user={{ u.user_email }}" method="post">
                        <input type="submit" name="follow" id="follow-button" value="Follow">
                    </form>
                {% else %}
                    <form action="/unfollow?user={{ u.user_email }}" method="post">
                        <input type="submit" name="unfollow" id="unfollow-button" value="Following">
                    </form>
                {% endif %}
            {% endif %}
        </div>
        {% if u.avatar %}
            <div class="user-profile-image">
                <img src='data:image/png;base64, {{ u.avatar.encode("base64") }}' class="img-circle" alt="Profile avatar">
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}