{% extends 'base.html' %}
{% block readStoryContainer %}
<div class="user-view-profile">
    {% for u in user %}
        <div class="user-profile-data">
            <div class="user-header-edit">
                <p class="user-name">{{ u.name }} {{ u.lastname }}</p>
                {% if nickname == u.user_email %}
                    <a href="/edit_profile?user={{ nickname }}">
                        <img src="../static/img/edit.png" alt="Edit">
                    </a>
                {% endif %}
            </div>
            <p class="user-email">{{ u.user_email }}</p>
            {% if u.description %}
                <p class="user-email">{{ u.description }}</p>
            {% endif %}
            <div class="user-profile-followers">
                <a class="btn btn-default" data-toggle="modal" data-target="#followingModal"><span>{{ u.following|length }}</span> following</a>
                <a class="btn btn-default" data-toggle="modal" data-target="#followersModal"><span>{{ u.followers|length }}</span> followers</a>
            </div>
            {% if nickname != u.user_email %}
                {% if not following %}
                    <form action="/follow?user={{ u.user_email }}" method="post">
                        <input type="submit" name="follow" id="follow-button" value="Follow">
                    </form>
                {% else %}
                    <form action="/unfollow?user={{ u.user_email }}" method="post">
                        <input type="submit" name="unfollow" id="unfollow-button" value="Following">
                    </form>
                {% endif %}
            {% endif %}
        </div>
        {% if u.avatar %}
            <div class="user-profile-image">
                <img src='data:image/png;base64, {{ u.avatar.encode("base64") }}' class="img-circle" alt="Profile avatar">
            </div>
        {% else %}
            <div class="user-profile-image">
                <img src='static/img/default-avatar.png' class="img-circle" alt="User avatar">
            </div>
        {% endif %}
        </div>
        <ul class="nav nav-pills">
            <li class="active">
                <a  href="#1a" data-toggle="tab">Likes</a>
            </li>
            <li>
                <a href="#2a" data-toggle="tab">Stories</a>
            </li>
            <li>
                <a href="#3a" data-toggle="tab">Bookmarked</a>
            </li>
        </ul>
        <div class="tab-content clearfix">
            <div class="tab-pane active" id="1a">
                {% if likes %}
                    {% for s in likes %}
                        {% include 'story_card_profile.html' %}
                    {% endfor %}
                {% else %}
                <span class="empty-contianer">You don't like any story yet</span>
                {% endif %}
            </div>
            <div class="tab-pane" id="2a">
                {% if stories %}
                    {% for s in stories %}
                        {% include 'story_card_profile.html' %}
                    {% endfor %}
                {% else %}
                    <span class="empty-contianer"><a href="write_story.html">Write</a> a story !</span>
                {% endif %}
            </div>
            <div class="tab-pane" id="3a">
                {% if bookmarks %}
                    {% for s in bookmarks %}
                        {% include 'story_card_profile.html' %}
                    {% endfor %}
                {% else %}
                    <span class="empty-contianer"></span>
                {% endif %}
            </div>
        </div>
    {% endfor %}

<!-- Modal of Following/Followers -->
{% include 'following_modal.html' %}
{% include 'followers_modal.html' %}

{% endblock %}
