{% extends 'base.html' %}
{% block readStoryContainer %}
{% if user %}
    <div class="user-edit-profile">
        <form action="/edit_profile" method="post" enctype="multipart/form-data">
            <input type="text" name="user-name" value="{{ user.name}}" required>
            <input type="text" name="user-lastname" value="{{ user.lastname}}" required>
            {% if user.description %}
                <textarea name="user-description" placeholder="{{ user.description }}"> {{ user.description}}</textarea>
            {% else %}
                <textarea name="user-description" placeholder="Tell something about you..."></textarea>
            {% endif %}
            {% if user.interest %}
                <input type="text" name="user-interest" value="{{ user.interest }}">
            {% else %}
                <input type="text" name="user-interest" placeholder="Your hobbies or interest">
            {% endif %}
            <label for="editavatar"> Image profile</label>
            {% if user.avatar %}
                <input type="file" name="user-avatar" value="{{ user.avatar.encode('base64')}}" id="editavatardefault">
            {% else %}
                <input type="file" name="user-avatar" id="editavatar">
            {% endif %}
            <input type="submit" value="Done">
        </form>
    </div>
{% else %}
    <div class="user-edit-profile">
        <form action="/profile" method="post" enctype="multipart/form-data">
            <input type="text" name="user-name" placeholder="User name" required>
            <input type="text" name="user-lastname" placeholder="Last name" required>
            <textarea name="user-description" placeholder="Tell something about you..."></textarea>
            <input type="text" name="user-interest" placeholder="Your hobbies or interest">
            <label for="uploaduseravatar"> Image profile</label>
            <input type="file" name="user-avatar" id="uploaduseravatar">
            <input type="submit" value="Done">
        </form>
    </div>
{% endif %}
{% endblock %}
