{% extends 'base.html' %}
{% block writeStoryContainer %}
<div class="write-story">
    <form class="write-story-form" action="/write_story" method="post" enctype="multipart/form-data">
        <input type="file" name="story-image" id="uploadimage">
        <div class="write-story-form-button">
            <input type="text" name="story-title" placeholder="Title">
            <input type="submit" value="Publish">
        </div>
        <textarea name="story-text" placeholder="Tell your story..."></textarea>
    </form>
</div>
{% endblock %}