{% extends 'base.html' %}
{% block readStoryContainer %}
<div class="write-story">
    <form class="write-story-form" action="/edit_story?id={{ story.key.urlsafe() }}" method="post" enctype="multipart/form-data">
        {% if story.image %}
            <input type="file" name="story-image" value="{{ story.image.encode('base64')}}">
        {% else %}
            <input type="file" name="story-image">
        {% endif %}
        <div class="write-story-form-button">
            <input type="text" name="story-title" value="{{ story.title }}" placeholder="Title">
            <input type="submit" value="Publish">
        </div>
        <textarea name="story-text" placeholder="Tell your story...">{{ story.text }}</textarea>
    </form>
</div>
<script>
    CKEDITOR.replace( 'story-text' );
</script>
{% endblock %}
